*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}
